<section>
	<h2>Administrador</h2>
	<article>
		<div>Selecciona alguna de las siguientes opciones:</div>
		<br/>
		<ul>
			<li> Resumen general </li>
			<li> Reporte de usuarios </li>
			<li> Reporte de apodos </li>
		</ul>
	</article>
</section>